[flake8]
# H501: line too long
# F401: x imported but not used
# E712: comparison to <bool> should be 'if cond is True/False:' or 'if cond:'
# E401: module level import not at top of file 
max-line-length = 88
ignore = H501, E712
exclude = .git, __pycache__, init_db.py
per-file-ignores =
    liquid/__init__.py: F401,
    liquid/db.py: F401,
    celery_worker.py: F401, E402
max-complexity = 10
