<div id="video-controls">
    <div style="float:left;">
        <button id="playpause" type="button">
            <i id="play" class="fas fa-play"></i>
            <i id="pause" class="fas fa-pause"></i>
        </button>
        <button id="stop" type="button">
            <i class="fas fa-stop"></i>
        </button>
        <span id="timestamp">
            <span id="current-time">00:00</span> / 
            <span id="duration">--:--</span>
        </span>
    </div>
    <div style="float:right;">
        <button id="mute" type="button">
            <i class="fas fa-volume-mute"></i>
        </button>
        <button id="voldec" type="button">
            <i class="fas fa-volume-down"></i>
        </button>
        <button id="volinc" type="button">
            <i class="fas fa-volume-up"></i>
        </button>
    </div>
    <div style="clear:both;">
</div>
