{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bookmarker {{ video.id }} {% endblock %}</h1>
    {% include 'snippet/video.html' %}
    <div>
        <button class="add_button">Add Bookmark</button>
    </div>
    <div class="wrapper"></div>
    <hr>
    <div>
        <button class="submit" type="submit" data-action="{{ url_for('bookmarker', video_id=video.id) }}" >Submit</button>
    </div>
    <div class="response"></div>

    <!-- Custom Javascript -->
    <script src="{{ url_for('static', filename='js/bookmarker.js') }}"></script>

{% endblock %}
