{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Liquid Movies {% endblock %}</h1>

    <h2>Liquids</h2>
    {% for liquid in liquids %}
        <div>
            <a href="{{ url_for('liquid_video', video_id=liquid.video, liquid_id=liquid.id) }}">
                Video: {{ liquid.id }} | Method: {{ liquid.method }} | Desc: {{ liquid.desc }}
            </a>
            <a href="{{ url_for('delete_liquid',  liquid_id=liquid.id) }}">
                (del)
            </a>
        </div>
        <hr>
    {% endfor %}

    <h2>Videos</h2>
    {% for video in videos %}
        <div>
            <a href="{{ url_for('raw_video', video_id=video.id) }}">
                Video: {{ video.id }} | {{ video.url }}
            </a>
        </div>

        <div>
            <a href="{{ url_for('bookmarker', video_id=video.id) }}">
                (add bookmarks)
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
