{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
            x
          </button>
        {{ message }}
      </div>
    {% endfor %}

    <div>{{ current_user.email }}</div>

    <h2>Your Liquid Videos</h2>
    {% for liquid in liquids %}
    <div>
        <a href="{{ url_for('liquid', liquid_id=liquid.id) }}">
            Liquid: {{ liquid.id }} | Video: {{ liquid.video }} | Treatment: {{ liquid.treatment }} | Desc: {{ liquid.video.desc }} | User: {{ liquid.user_id }}
        </a>
    </div>
    <div>
        <a href="{{ url_for('delete_liquid', liquid_id=liquid.id) }}">
            (del)
        </a>
    </div>
    <hr>
    {% endfor %}

    <a href="{{ url_for('upload_liquid') }}"><button>Upload Video</button></a>

{% endblock %}
